[submodule "squashfuse"]
	path = squashfuse
	url = https://github.com/vasi/squashfuse.git
[submodule "squashfs-tools"]
	path = squashfs-tools
	url = https://github.com/plougher/squashfs-tools.git
[submodule "libappimage/externals/sanitizers-cmake"]
	path = libappimage/externals/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
