[submodule "cmake/sanitizers-cmake"]
	path = cmake/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "lib/libappimage"]
	path = lib/libappimage
	url = https://github.com/AppImage/libappimage.git
