<!doctype html>
<html lang="{{ lang_tag }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{{ _('page_title') }}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
          name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/landing-page.css" rel="stylesheet"/>
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/appimage.org.css" rel="stylesheet">

    <!-- SEO -->
    <meta name="description" content="{{ _('meta_description') }}"/>
    <meta name="keywords" content="appimage, portable linux apps, app, linux, portable, probonopd"/>

    <!-- Metadata for share buttons -->
    <meta property="og:title" content="AppImage"/>
    <meta property="og:image" content="images/logo3.svg"/>
    <meta property="og:description" content="Linux apps that run anywhere"/>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>

</head>

<body class="landing-page">

<nav class="navbar nav7bar-transparent navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="">
                <div class="logo-container">
                    <div class="logo">
                        <!-- you logо img -->
                    </div>
                    <div class="brand">
                        AppImage
                    </div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://docs.appimage.org">
                        {{ _('docs_link_title') }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AppImage/AppImageKit">
                        {{ _('source_link_title') }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/AppImage/AppImageKit/wiki">
                        {{ _('wiki_link_title') }}
                    </a>
                </li>
                <li>
                    <a href="https://discourse.appimage.org">
                        {{ _('discourse_link_title') }}
                    </a>
                </li>

                <li>
                    <iframe class="ghbtns-frame"
                            src="https://ghbtns.com/github-btn.html?user=AppImage&repo=appimagekit&type=star&count=true&size=large"
                            frameborder="0" scrolling="0" width="160px"
                            height="30px"></iframe>

                    <!--<a href="https://github.com/probonopd/AppImageKit">
                        <i class="fab fa-github"></i> </a>-->
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<!-- social buttons right -->
<div id="sidebar-social">
        <div class="social-buttons">
            <ul>
                <a href="https://github.com/probonopd" class="btn btn-social btn-simple">
                    <i class="fab fa-github fa-fw fa-2x"></i>
                    <span class="network-name"></span>
                </a>
                <a href="mailto:probono@puredarwin.org" class="btn btn-social btn-simple">
                    <i class="fas fa-envelope fa-fw fa-2x"></i>
                    <span class="network-name"></span>
                </a>
                <a href="https://www.reddit.com/domain/appimage.org/" class="btn btn-social btn-simple">
                    <i class="fab fa-reddit fa-fw fa-2x"></i>
                    <span class="network-name"></span>
                </a>
                <a href="https://twitter.com/appimages" class="btn btn-social btn-simple">
                    <i class="fab fa-twitter fa-fw fa-2x"></i>
                    <span class="network-name"></span>
                </a>
                <a href="https://discourse.appimage.org" class="btn btn-social btn-simple">
                    <i class="far fa-comment fa-fw fa-2x"></i>
                    <span class="network-name"></span>
                </a>
            </ul>
    </div>
</div>

<div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
        <img src="images/background.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="parallax-image">
                    <img src="images/logo3.svg"/>
                </div>
            </div>
            <div class="col-sm-6 col-xs-offset-1">
                <div class="description">
                    <h2>
                        {{ _('linux_apps_that_run_anywhere') }}
                    </h2>
                    <br>
                    <h5>
                        "{{ _('user_story_1') }}"
                    </h5>
                    <h5>
                        "{{ _('user_story_2') }}"
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">{{ _('leading_linux_distributions') }}</h4>
        <p>
            {{ _('download_make_executable_run') }}
            {% trans sandbox_name='<a href="https://github.com/netblue30/firejail" target="_blank">Firejail</a>'|safe %}
                 can_run_in_sandboxes_like {{sandbox_name}}
            {% endtrans %}
        </p>
        <br/>
        <div class="logos">
            <ul class="list-unstyled">
                <li><img src="images/distributions/arch.svg" alt="Arch Linux"
                         height="48" width="48"></li>
                <li><img src="images/distributions/centos.svg" alt="CentOS"
                         height="48" width="48"></li>
                <li><img src="images/distributions/debian.svg" alt="debian"
                         height="48" width="48"></li>
                <li><img src="images/distributions/fedora.svg" alt="Fedora"
                         height="48" width="48"></li>
                <li><img src="images/distributions/opensuse.svg" alt="openSUSE"
                         height="64" width="64"></li>
                <li><img src="images/distributions/rh.svg" alt="Red Hat"
                         height="48" width="128"></li>
                <li><img src="images/distributions/ubuntu.svg" alt="Ubuntu"
                         height="48" width="48"></li>
            </ul>
        </div>
        <p>
            {{ _('distribute_linux_apps_as_appimage_and_win_users') }}
            {{ _('package_once_and_run_everywhere') }}
            {{ _('reach_users_on_all_distros') }}
        </p>
        <br/>
    </div>
</div>

<div class="section section-testimonial">
    <div class="container">
        <h4 class="header-text text-center">
            {{ _('what_people_think') }}
        </h4>

        <div id="carousel-example-generic" class="carousel fade"
             data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="mask">
                        <img src="images/linus-torvalds.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Linus Torvalds</p>
                        <h3>
                            <a href="https://web.archive.org/web/20160205074927/https://plus.google.com/+LinusTorvalds/posts/WyrATKUnmrS" target="_blank">
                                "{{ _('torvalds_quote') }}"
                            </a>
                        </h3>
                        <span class="picture-copyright">
                            {{ _('picture:') }}
                            {{ _('copyright_faces_of_open_source_/_peter_adams') }}
                            {{ _('licensed_under_CC-BY-NC-SA_4.0') }}
                            <a href="http://facesofopensource.com/linus-torvalds-2/">
                                {{ _('original_picture') }}
                            </a>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img src="images/dirk-hohndel.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Dirk Hohndel</p>
                        <h3>
                            "{{ _('hohndel_quote') }}"
                        </h3>
                        <span class="picture-copyright">
                            {{ _('picture:') }}
                            {{ _('copyright_faces_of_open_source_/_peter_adams') }}
                            {{ _('licensed_under_CC-BY-NC-SA_4.0') }}
                            <a href="http://facesofopensource.com/dirk-hohndel/">
                                {{ _('original_picture') }}
                            </a>
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img src="images/mark-shuttleworth.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Mark Shuttleworth</p>
                        <h3>
                            <a href="https://web.archive.org/web/20170409021339/https://plus.google.com/+MarkShuttleworthCanonical/posts/7LYubpaHUHH" target="_blank">
                                "{{ _('shuttleworth_quote') }}"
                            </a>
                        </h3>
                        <span class="picture-copyright">
                            {{ _('picture:') }}
                            {{ _('copyright_aaron_hockley') }}
                            {{ _('licensed_under_CC-BY-SA_2.0') }}
                        </span>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-blue">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>

    </div>
</div>

<div class="section section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="description-carousel" class="carousel fade"
                     data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="images/tux.svg" class=".carousel-img">
                            <span class="picture-copyright">
                                {{ _('drawing_lewing@isc.tamu.edu_larry_ewing_and_the_GIMP') }}
                            </span>
                        </div>
                        <div class="item active">
                            <img src="images/subsurface.svg" class="carousel-img-2">
                            <span class="picture-copyright">
                                {{ _('logo:') }}
                                {{ _('licensed_under_GPLv2') }}
                                <a href="https://commons.wikimedia.org/wiki/File:Tux.svg">
                                    {{ _('see_more') }}.
                                </a>
                            </span>
                        </div>
                    </div>

                    <ol class="carousel-indicators carousel-indicators-blue">
                        <li data-target="#description-carousel"
                            data-slide-to="0" class=""></li>
                        <li data-target="#description-carousel"
                            data-slide-to="1" class="active"></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="header-text">{{ _('see_it_in_action') }}</h4>
                <p>
                    {{ _('here_appimage_for_you_to_try') }}
                    {{ _('just_download_make_executable_run') }}
                    {{ _('no_need_to_install') }}
                    {{ _('runs_on_most_desktops') }}
                </p>
                <a href="https://subsurface-divelog.org/downloads/"
                   id="Demo" class="btn btn-lg btn-info btn-fill"
                   data-button="info">
                    {{ _('try_subsurface_64-bit') }}
                </a>
                {# <a href="https://github.com/probonopd/AppImages/releases/download/1/Subsurface-4.5.1.251-i386.AppImage"
                   id="Demo" class="btn btn-lg btn-info " data-button="info">
                    {{ _('try_subsurface_32-bit') }}
                </a> #}
                <p>
                    {% trans krita='<a href="https://appimage.github.io/apps/" target="_blank">Krita</a>'|safe %}
                    many_upstream_projects_like_{{ krita }}_subsurface_musescore_kdevelop_and_digiKam_have_started_to_provide_appimages_directly_on_their_download_pages
                    {%  endtrans %}
                    {%  trans here='<a href="https://appimage.github.io/">here</a>'|safe %}
                    more_appimages_for_other_apps_like_atom_arduino_blender_chromium_firefox_libreoffice_and_qcad_can_be_downloaded_{{ here }}_(64-bit)
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section section-presentation">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    {{ _('how_to_run_an_appimage?') }}
                </h2>
                <br/>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="640" height="360" src="https://piped.video/embed/nzZ6Ikc7juw" frameborder="0" allowfullscreen></iframe>
                </div>

                <p>
                    {{ _('to_run_an_AppImage_simply:') }}
                </p>
                <p>
                    {{ _('make_it_executable') }}
                </p>
                <pre>$ chmod a+x Subsurface*.AppImage</pre>
                <p>
                    {{ _('and_run!') }}
                </p>
                <pre>$ ./Subsurface*.AppImage</pre>
                <p>
                    {{ _('that_was_easy_wasn\'t_it?') }}
                </p>

                <h2>
                    {{ _('watch_how_it_works') }}
                </h2>
                <br/>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="640" height="360" src="https://piped.video/embed/mVVP77jC8Fc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">
                        {{ _('buzzwords_easy_title') }}
                    </h4>
                    <p>
                        {{ _('buzzwords_easy_description') }}
                    </p>

                    <br>

                    <h4 class="header-text">
                        {{ _('buzzwords_trusted_title') }}
                    </h4>
                    <p>
                        {{ _('buzzwords_trusted_description') }}
                    </p>

                    <br>

                    <h4 class="header-text">
                        {{ _('buzzwords_fast_title') }}
                    </h4>
                    <p>
                        {{ _('buzzwords_fast_description') }}
                    <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="images/linux-weekend-2017.jpg">
                <span class="picture-copyright">
                    {{ _('picture:') }}
                    {{ _('copyright_andis_rado') }}
                    <br/>
                    {{ _('licensed_under_CC-BY-NC-SA_4.0') }}
                </span>
            </div>
        </div>
    </div>
</div>


<div class="section section-features section-no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="text">
                        <h4>
                            {{ _('buzzwords_open_source_title') }}
                        </h4>
                        <p>
                            {{ _('buzzwords_open_source_description') }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grayblock">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <h4>
                        {{ _('buzzwords_proven_title') }}
                    </h4>
                    <p>
                        {{ _('buzzwords_proven_description') }}
                    </p>
                </div>
            </div>
            <div class="col-md-4 grayblock2">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="fab fa-linux"></i>
                    </div>
                    <h4>
                        {{ _('buzzwords_compatible_title') }}
                    </h4>
                    <p>
                        {{ _('buzzwords_compatible_description') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-no-padding">
    <div class="full-background filter-gradient blue appimage-background">
        <div class="container">
            <div class="info">
                <h1>
                    {{ _('get_started_title') }}
                </h1>
                <p>
                    {{ _('get_started_description') }}
                </p>
                <a href="https://docs.appimage.org" class="btn btn-neutral btn-lg">
                    {{ _('docs_link_title') }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    {{ _('forum_title') }}
                </h2>
                <p>
                    {{ _('forum_description') }}
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://discourse.appimage.org/" class="btn btn-default btn-lg">
                            <span class="network-name">
                                {{ _('forum_link_title') }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    {{ _('live_chat_title') }}
                </h2>
                <p>
                    {{ _('live_chat_description') }}
                </p>
                <p>
                    {{ _('live_chat_join_us') }}
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="irc://irc.libera.chat/#AppImage" class="btn btn-default btn-lg">
                            <span class="network-name">
                                {{ _('#AppImage_on_libera.chat') }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section section-contact">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                    {{ _('contact_probono') }}
                </h2>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/probonopd" class="btn btn-default btn-lg">
                            <i class="fab fa-github fa-fw"></i>
                            <span class="network-name">
                                {{ _('github_title') }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:probono@puredarwin.org" class="btn btn-default btn-lg">
                            <i class="fas fa-envelope fa-fw"></i>
                            <span class="network-name">
                                {{ _('e-mail_title') }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <nav class="pull-left copyright">
            {# this line should not be translated, it should be the same on all pages #}
            &copy; 2015-19 <a href="https://github.com/probonopd">Simon Peter</a> &mdash; I <i class="fas fa-heart"></i> simplicity
        </nav>

        <div class="social-area pull-right" class="social-networks">
            <a href="https://github.com/AppImage" class="btn btn-social btn-simple">
                <i class="fab fa-github fa-fw fa-2x"></i>
                <span class="network-name"></span>
            </a>
            <a href="mailto:probono@puredarwin.org" class="btn btn-social btn-simple">
                <i class="far fa-envelope fa-fw fa-2x"></i>
                <span class="network-name"></span>
            </a>
            <a href="https://www.reddit.com/domain/appimage.org/" class="btn btn-social btn-simple">
                <i class="fab fa-reddit fa-fw fa-2x"></i>
                <span class="network-name"></span>
            </a>
            <a href="https://twitter.com/probonopd" class="btn btn-social btn-simple">
                <i class="fab fa-twitter fa-fw fa-2x"></i>
                <span class="network-name"></span>
            </a>
            <a href="https://discourse.appimage.org" class="btn btn-social btn-simple">
                <i class="far fa-comment fa-fw fa-2x"></i>
                <span class="network-name"></span>
            </a>
        </div>
    </div>
</footer>
</body>

<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>

<script src="js/appimage.org.js" type="text/javascript"></script>
</html>
