[Desktop Entry]
Name=AppImageMonitor
Exec=monitorAppImages.sh
Icon=AppImageMonitor
Terminal=True
Type=Application
Categories=System;
Comment=AppImage desktop integration daemon
StartupNotify=true
