[Desktop Entry]
Type=Application
Name=AppImage daemon
Exec=appimaged
Comment=Optional daemon to integrate AppImages with the desktop
Icon=appimaged
Categories=Development;
Terminal=true
NoDisplay=true
