[Desktop Entry]
Name=AppImageExtract
Exec=appimageextract
Icon=AppImageExtract
Terminal=True
Type=Application
Categories=Development;
Comment=Extract AppImage contents, part of AppImageKit
StartupNotify=true
